@model GL_Sensors_v0._2.Models.Measurement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Measurement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pm_1_0)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pm_1_0)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pm_2_5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pm_2_5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pm_10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pm_10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.temp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.temp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.humidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.humidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
